<!DOCTYPE html>
<html>
  <head>
      <title>DashBoard</title>
      <link href="/assets/css/fontawesome/fontawesome-all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     </head>
  <body>
      <div id="app"></div>
     <script type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>
